<div class="container mt-5">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputName4" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputDate" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="inputDate" placeholder="1234 Main St">
        </div>
        <div class="col-md-6">
            <label for="inputUpload" class="form-label">CV Upload</label>
            <input type="file" class="form-control" id="inputUpload">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


