<div class="container mt-5">
    <form class="row g-3" id="ngForm" #applicantData = "ngForm" (ngSubmit) = "submitApplicant(applicantData.value)" ngNativeValidate>
        <div class="col-md-6">
            <label for="inputName4" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName4" name="name" ngModel required>
            <div class="invalid-feedback">Name is required</div>
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="email" ngModel  required>
            <div class="invalid-feedback">Email is required</div>
        </div>
        <div class="col-md-6">
            <label for="inputJob4" class="form-label">Job Type</label>
            <select class="form-control" id="inputJob4" name="jobType" ngModel required>
                <option>Job 1</option>
                <option>Job 2</option>
                <option>Job 3</option>
            </select>
            <div class="invalid-feedback">Job Type is required</div>
        </div>
        <div class="col-md-6">
            <label for="inputDate" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="inputDate" name="dateOfBirth" ngModel  required>
            <div class="invalid-feedback">Date of Birth is required</div>
        </div>
        <div class="col-md-6">
            <label for="inputUpload" class="form-label">CV Upload</label>
            <input type="file" class="form-control" id="inputUpload" accept=".doc,.pdf" (change)="uploadFile($event)"  required>
            <div class="invalid-feedback">CV is  required</div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" form="ngForm">Submit</button>
        </div>
    </form>
</div>


