<div class="container mt-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">CV Link</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jobApplication of jobApplications">
                <td>{{ jobApplication.name }}</td>
                <td>{{ jobApplication.email }}</td>
                <td>{{ jobApplication.dateOfBirth }}</td>
                <td><a href="#" (click)="downloadFile($event, jobApplication.cvBlob)">{{jobApplication.cvBlob}}</a></td>
                <td><a href="#" (click)="deleteApplication($event, jobApplication.id)">Delete</a></td>
            </tr>
        </tbody>
      </table>
</div>

